#template {
	display: none;
}

.container {
	width: 730px;
}

tbody {
	/*font-family: 'Just Another Hand', cursive;*/
	/*font: 'Shadows Into Light Two', Helvetica, Sans-serif;*/
	/*font: 'Sue Ellen Francisco', Helvetica, Sans-serif;*/
	font-family: 'Shadows Into Light Two', cursive;
	font-size: 18px;
}



th {
	font-size: 18px;
}

table {
	background-image: url('../img/seamless_paper_texture.png');
	opacity: 0.9;
	position: relative;
	width: 650px;
}

th {
	padding: 20px 10px 10px 10px;
	border-bottom: 1px double gray;
}

td {
	border-bottom: 1px dashed gray;
}

#clipBoard {
	background: linear-gradient(
      rgba(0, 0, 0, 0.4), 
      rgba(0, 0, 0, 0.4)
    ), url('../img/wood.png');
	padding: 40px 40px 120px 40px;
	border-radius: 30px
}

#clip {
	height: 160px;
	width: 440px;
	background: url('../img/clip.png');
	background-size: cover;
	margin: -140px auto 0 auto;
	z-index: 1;
}